body {
  margin: 0;
  background: #e6e1d6;
}

#c {
  position: absolute;
  left: 50vw;
  top: 50vh;
  width: 95vmin;
  height: 72vmin;
  transform: translate(-50%, -50%);
  border-radius: 50px;
  background: #e6e1d6;
  box-shadow: 20px 20px 60px #c4bfb6, -20px -20px 60px #fffff6;
}
